@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('fonts/Helvetica-Neue-LT-Std-93-Black-Extended22550.eot');
    src: url('fonts/Helvetica-Neue-LT-Std-93-Black-Extended22550.eot?#iefix') format('embedded-opentype'),
         url('fonts/Helvetica-Neue-LT-Std-93-Black-Extended22550.woff2') format('woff2'),
         url('fonts/Helvetica-Neue-LT-Std-93-Black-Extended22550.woff') format('woff'),
         url('fonts/Helvetica-Neue-LT-Std-93-Black-Extended22550.ttf')  format('truetype'),
         url('fonts/Helvetica-Neue-LT-Std-93-Black-Extended22550.svg#Helvetica Neue LT Std') format('svg');
}

.socialBubble {
    height: 25px;
    width: 25px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #000000;
  }

  h1{
    font-family: 'Helvetica Neue LT Std';
    font-size: 62px;
    color: #000000;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 0px;
    text-transform: uppercase;
  }

  h2{
    font-family: ocr-b-std, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
  }

  p{
    font-family: ocr-b-std, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
  }

  button{
    height: 25px;
    background-color: #FFFFFF;
    padding-left: 2px;
    cursor: pointer;
  }

  /* --NAV SECTION-- */

  @keyframes move {
    to {
      transform: translateX(-50%);
    }
  }

  @keyframes invertbg {
    from {background-color: #ffffff;}
    to {background-color: #000000;}
  }

  @keyframes inverttx {
    from {color: #000000;}
    to {color: #FFFFFF;}
  }
  
  .nav1{
    overflow :hidden;
    width: 240px;
    display:inline-block;
    border: 1px solid #000000;
    white-space: nowrap;
  }
  
  .container1{
    width: 480px;
    display: flex;
    flex-wrap: nowrap;
  }

  .container1:hover{
    animation: move 1.5s infinite ease-in-out; /* set the time to what you want of course */
  }

  .nav1Text{
    font-size: 18px;
    margin:0;
    padding-left:0px;
    width:240px;
    text-align: left;
  }

  .nav2{
    overflow :hidden;
    width: 230px;
    display:inline-block;
    border: 1px solid #000000;
    white-space: nowrap;
  }
  
  .container2{
    width: 460px;
    display: flex;
    flex-wrap: nowrap;
  }

  .container2:hover{
    animation: move 1.5s infinite ease-in-out; /* set the time to what you want of course */
  }

  .nav2Text{
    font-size: 18px;
    margin:0;
    padding-left:0px;
    width:230px;
    text-align: left;
  }

  .nav3{
    overflow :hidden;
    width: 110px;
    display:inline-block;
    border: 1px solid #000000;
    white-space: nowrap;
  }

  .nav3:hover{
    animation: invertbg 0.5s forwards ease-in;
  }
  
  .nav3:after{
    animation: invertbg 0.5s reverse ease-in;
  }

  .container3{
    width: 220px;
    display: flex;
    flex-wrap: nowrap;
  }

  .container3:hover{
    animation: move 1.5s infinite ease-in-out; /* set the time to what you want of course */
  }

  .nav3Text{
    font-size: 18px;
    margin:0;
    padding-left:0px;
    width:110px;
    text-align: left;
  }

  .container3:hover > .nav3Text{
    animation: inverttx 0.5s forwards linear;
  }
