@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('fonts/Helvetica-Neue-LT-Std-93-Black-Extended22550.eot');
    src: url('fonts/Helvetica-Neue-LT-Std-93-Black-Extended22550.eot?#iefix') format('embedded-opentype'),
         url('fonts/Helvetica-Neue-LT-Std-93-Black-Extended22550.woff2') format('woff2'),
         url('fonts/Helvetica-Neue-LT-Std-93-Black-Extended22550.woff') format('woff'),
         url('fonts/Helvetica-Neue-LT-Std-93-Black-Extended22550.ttf')  format('truetype'),
         url('fonts/Helvetica-Neue-LT-Std-93-Black-Extended22550.svg#Helvetica Neue LT Std') format('svg');
}

.socialBubble {
  height: 25px;
  width: 25px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  display: inline-block;
  border: 2px solid #000000;
}

h1{
  font-family: 'Helvetica Neue LT Std';
  font-size: 62px;
  color: #000000;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: 0px;
  text-transform: uppercase;
}

h2{
  font-family: ocr-b-std, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
}

p{
  font-family: ocr-b-std, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

button{
  height: 25px;
  background-color: #FFFFFF;
  padding-left: 2px;
  cursor: pointer;
  transition: 0.05s all;
  margin-left: -5px;
  margin-top: -1px;
}

button:active{
  background-color: #000000;
}

button:active>div>h2{
  color: #FFFFFF;
}

.nav{
  margin-left: 67px;
}

/* --NAV SECTION-- */

@keyframes move {
  to {
    transform: translateX(-50%);
  }
}

@keyframes invertbg {
  from {background-color: #ffffff;}
  to {background-color: #000000;}
}

@keyframes inverttx {
  from {color: #000000;}
  to {color: #FFFFFF;}
}

.navButton{
  overflow :hidden;
  display:inline-block;
  border: 1px solid #000000;
  white-space: nowrap;
}

.navContainer:hover{
  animation: move 1.5s infinite ease-in-out; /* set the time to what you want of course */
}

.navContainer{
  display: flex;
  flex-wrap: nowrap;
}

.navText{
  font-size: 18px;
  margin:0;
  padding-left:0px;
  text-align: left;
}

.nav1{
  width: 240px;
}

.container1{
  width: 480px;
}

.nav1Text{
  width:240px;
}

.nav2{
  width: 230px;
}

.container2{
  width: 460px;
}

.nav2Text{
  width:230px;
}

.nav3{
  width: 110px;
}

/*
.nav3:hover{
  animation: invertbg 0.5s forwards ease-in;
}
*/

.container3{
  width: 220px;
}

.nav3Text{
  width:110px;
}

/*
.container3:hover > .nav3Text{
  animation: inverttx 0.5s forwards linear;
}
*/

.nav4{
  width: 70px;
}

.container4{
  width: 140px;
}

.nav4Text{
  width:70px;
}

.nav5{
  width: 230px;
}

.container5{
  width: 460px;
}

.nav5Text{
  width:230px;
}

.nav6{
  width: 240px;
}

.container6{
  width: 480px;
}

.nav6Text{
  width:240px;
}